*.aux
*.aux
*.aux
*.lof
*.log
doc/template/masterproef.aux
doc/template/app-A.aux
*.aux
doc/template/app-A.aux
doc/template/app-n.aux
doc/template/chap-1.aux
doc/template/chap-2.aux
doc/template/chap-n.aux
doc/template/conclusion.aux
doc/template/masterproef.aux
doc/template/masterproef.log
doc/template/masterproef.out
doc/template/masterproef.synctex.gz
doc/template/masterproef.tdo
doc/template/masterproef.toc
doc/template/texput.log